env/
__pycache__/
done/
hasil/
frames/
medianfiltered/
highboost/
morphology/
thresholding/
canny/
region/
colinear/
All GF/
GoodFeatures/
Tracking/
Output/
datasets/
psax2.avi
psax3.avi
psax4.avi
psax5.avi
psax6.avi
psax7.avi
psax8.avi
psax9.avi
psax10.avi
psax11.avi
psax12.avi
psax13.avi
psax14.avi
psax15.avi
psax16.avi
psax17.avi
