env/
__pycache__/
done/
hasil/
1.frames/
2.medianfiltered/
3.highboost/
4.morphology/
5.thresholding/
6.canny/
7.region/
8.colinear/
9.GoodFeatures/
10.Tracking/
11.Output/
training/
datasets/
psax2.avi
psax3.avi
psax4.avi
psax5.avi
psax6.avi
psax7.avi
psax8.avi
psax9.avi
psax10.avi
psax11.avi
psax12.avi
psax13.avi
psax14.avi
psax15.avi
psax16.avi
psax17.avi
psax18.avi
psax19_nNormal.avi
psax20_normal.avi
psax21.avi


project.avi
