env/
__pycache__/
done/
hasil/
1.frames/
2.medianfiltered/
3.highboost/
4.morphology/
5.thresholding/
5.adaptiveThresholding/
6.canny/
6.laplacian/
7.region/
8.colinear/
9.GoodFeatures/
10.Tracking/
11.Output/
12.Triangle Equation/
training/
datasets/
DatasetsPSAX/
Datasets2AC/
datasets/
backup/
localstorage/
uploadedvideo/
DatasetTestingUP/
project.avi
jantungapp_pair.ppk